# Ignore virtual environment
venv/
*.env

# Ignore Rasa model and logs
*.tar.gz
*.h5
*.db
*.pkl
*.log

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore configuration for IDEs
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore Rasa training data and models
*.npy
*.spacy
*.rasa

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore Docker files if you're not using Docker
docker-compose.override.yml
Dockerfile

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/

# Ignore any user-specific config files
*.swp
